
body {
    background-color:black;
}

div {
    padding: 25px;
    font-size: 72px;
    text-align: center;
    border: thin solid black;
    color: white;
  }

  .red {
    background-color: green;
  }

  .orange {
    background-color: purple;
  }

  .yellow {
    background-color: yellow;
  }

  .green {
    background-color: #00ff00;
  }

  .blue {
    background-color: blue;
  }

  .violet {
    background-color: black;
  }
  .button {
   background-color: white;
   border: 20px;
   color: black;
   padding: 20px;
   text-align: center;
    text-decoration: bold;
   display: inline-block;
   font-size: 36px;
   margin: 4px 2px;
}
.button:hover {
color: black;
}