
body {
    background-color:lightyellow;
}

h1 {
    text-align: center;
    font-size: 12px;
  }

h2 {
    text-align: center;
    font-size: 36px;
  }

  .center {
    display: block;
    margin: 0 auto;
  }
  
  .red {
    background-color: red;
    padding: 25px;
    font-size: 72px;
    text-align: center;
    border: thin solid black;
    color: white;
  }

  .orange {
    background-color: orange;
    padding: 25px;
    font-size: 72px;
    text-align: center;
    border: thin solid black;
    color: white;
  }

  .yellow {
    background-color: yellow;
    padding: 25px;
    font-size: 72px;
    text-align: center;
    border: thin solid black;
    color: white;
  }

  .green {
    background-color: green;
    padding: 25px;
    font-size: 72px;
    text-align: center;
    border: thin solid black;
    color: white;
  }

  .blue {
    background-color: blue;
    padding: 25px;
    font-size: 72px;
    text-align: center;
    border: thin solid black;
    color: white;
  }

  .violet {
    background-color: purple;
    padding: 25px;
    font-size: 72px;
    text-align: center;
    border: thin solid black;
    color: white;
  }
  .button {
   background-color: white;
   border: 20px solid black;
   color: black;
   width: 200px;
   padding: 20px;
   text-align: center;
   text-decoration: bold;
   font-size: 36px;
   margin: 4px 2px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.button2 {
    background-color: white;
    border: thin solid black;
    color: black;
 }

form {
    max-width: 500px;
    margin: 150px auto;
  }
  
  fieldset {
    padding: 30px;
  }
  
  input,
  textarea,
  button {
    width: 100%;
  }
